.home-app {
    margin: 58px;
}
.principal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.declaration {
    font-size: 16px;
    color: #22d3ee;
    margin-bottom: 2px;
}

.developer-name {
    line-height: 1;
    font-size: 58px;
    font-weight: bold;
    color: #fff;
}

.my-name-gradient {
    color: transparent;
    background: linear-gradient(to right, #22d3ee, #3b82f6, #facc15);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.elements-description-item {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #22d3ee;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 22px;
}

.button-projects {
    padding: 12px 32px;
    background: linear-gradient(to right, #06b6d4, #3b82f6);
    color: #000;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button-projects:hover{
    box-shadow: 0 10px 15px -3px rgba(6, 182, 212, 0.5 ),
                0 4px 6px -4px rgba(6, 182, 212, 0.5);
}

.button-cv {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 32px;
    border: 1px solid #06b6d4;
    color: #22d3ee;
    background: transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button-cv:hover {
    background-color: rgba(6, 182, 212, 0.1);
}

.info-json {
    flex: 1;
    position: relative;
}
.container-info-json {
    position: relative;
    background: linear-gradient(to bottom right, rgba(6, 182, 212, 0.1), rgba(59, 130, 246, 0.1));
    padding: 32px;
    border-radius: 8px;
    border: 1px solid rgba(6, 182, 212, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-size: 14px;
}
.container-info-json .code-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    color: #facc15;
    opacity: 0.6;
}